body {
    background: linear-gradient(#10609a, #1d2c5e) ;
    margin: 0;
    padding: 0;
}

.header-logo {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

main {
    background: linear-gradient(0.25turn, #c7a008, #ffcb05, #c7a008);
    padding: 20px 0;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1 {
    color: #101f5f;
    font-size: 2.5em;
    text-align: center;
}

.pokemon-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
}

.pokemon-button {
    background-color: #3466af;
    border-color: #1d2c5e;
    color: white;
    padding: 20px 50px;
    width: 200px;
    height: 75px;
    text-decoration: underline;
    font-size: 22px;
    margin: 6px;
    cursor: pointer;
}

.pokemon-button:hover {
    background-color: #1d2c5e;
}

@media (max-width: 768px) {
    main {
        margin: auto;
    }

    .pokemon-button {
        width: 150px;
        height: 50px;
    }
}

